// https://www.realtimecolors.com/?colors=f4d7e2-200911-db769b-2c0c18-cb3a6f&fonts=Poppins-Poppins
// https://res.cloudinary.com/imagist/image/fetch/f_auto/q_auto/c_scale,w_2624/https://todoist.com/static/home-teams/intro/desktop/background.en.jpg?_a=BATCtdJs0
:root {
    --text: #f4d7e2;
    --background: #200911;
    --primary: #db769b;
    --secondary: #2c0c18;
    --accent: #cb3a6f;
}

* {
    margin: 0px;
}

html {
    background: var(--background);
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 5% auto 5%;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer"
    ;
}

.header {
    grid-area: header;
    color: var(--text);
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--accent);
    padding: 0.5rem 7%;
    font-size: 2rem;
    align-items: center;
    img {
        max-height: 40px;
    }
}

.sidebar {
    position: relative;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5% 5%;
    color:var(--text);
    font-size: 1.5rem;
    gap: 40px;

    .menu-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .menu-header {
        border-bottom: 1px solid var(--accent);
        padding-bottom: 10px;
    }
}

.selected {
    background-color: var(--accent);
}


.footer {
    grid-area: footer;
    background-color: #221017;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--text);
    font-size: 1.5rem;
}

.menu-group {
    width: 100%;
}

.menu-item {
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #cb3a6f;
}

.content {
    grid-area: content;
    background-color: var(--secondary);
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    .title {
        background-color: var(--background);
        padding: 20px;
        color: var(--text);
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
    gap: 20px;

    .todo-list {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .todo-item {
        background-color: var(--background);
        border: solid 1px #221017;
        font-size: 1.5rem;
        color: var(--text);
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}

#todo-button, #project-button {
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    align-items: start;
    border: 0px;
    padding: 10px;
    color: var(--text);
    font-size: 1.5rem;
    img{
        max-width: 2rem;
    }
    gap:20px;
    

}

#todo-button:hover, #project-button:hover, .todo-item:hover {
    background-color: var(--accent);
}

#project-modal-form, #todo-modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    button {
        padding: 10px 20px;
        background-color: var(--background);
        color: var(--text);
        border-radius: 20%;
    }
    input {
        background-color: var(--background);
        color: var(--text);
        border: 1px solid var(--accent);
    }
}

#project-modal, #todo-modal {
    background-color: var(--secondary);
    color: var(--text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    border: 1px solid var(--accent);
    
}

select {
    appearance: none;
    outline: 0;
    background: var(--secondary);
    background-image: none;
    width: 100%;
    height: 100%;
    color: var(--text);
    cursor: pointer;
    border: 1px solid var(--accent);
    border-radius: 3px;
    padding: 0 0 0 .5em;

}

